{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'main/css/registr.css' %}">
</head>

<body>
    
    <div class="register-window{% if error_message %} error-active{% endif %}">
        <img src="{% static 'main/RegistrationWindow.png' %}" alt="Окно регистрации" class="register-window-img">
        <img src="{% static 'main/LogoForReg.png' %}" alt="Логотип" class="register-logo-img">
        <div class="register-title gradient-title">Регистрация</div>
        <form method="POST" action="{% url 'registr' %}" class="register-form{% if error_message %} error-active{% endif %}">
            {% csrf_token %}
            <input type="email" name="username" id="username" class="register-input" placeholder="Электронная почта" required>
            <div class="password-field">
                <input type="password" name="password" id="password" class="register-input" placeholder="Пароль" required>
                <img src="{% static 'main/UnvisiblePass.png' %}" alt="Показать пароль" class="toggle-pass" id="togglePass">
                <div class="input-underline"></div>
            </div>
            <input type="password" name="confirm_password" id="confirm_password" class="register-input" placeholder="Подтвердите пароль" required>
            {% if error_message %}
                <div class="error-container">
                    <div class="error-message">{{ error_message }}</div>
                </div>
            {% endif %}
            <button type="submit" class="register-btn">Зарегистрироваться</button>
        </form>
    </div>
    
    <script src="{% static 'main/js/registr.js' %}"></script>
</body>
</html> 